* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dae8e7;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #60c96c;
  height: 7vh;
  margin-bottom: 20px;
}

main {
  display: grid;
  grid-template-columns: 900px 1fr;
  align-content: center;
  justify-content: center;
  height: 90vh;
}

.title {
  margin-left: 10px;
  font-weight: 700;
}

.search {
  margin-right: 20px;
  border-radius: 10px;
  height: 3vh;
  width: 15rem;
}

.kuya-kim {
  margin-left: 20px;
}

.kuya-kim img {
  max-width: 100rem;
  max-height: 100rem;
  margin-top: 10px;
}

.city-weather-container {
  background-color: #2b8b7f;
  margin-right: 20px;
  border-radius: 100px;
  position: relative;
  text-align: center;
}

.city-info {
  position: absolute;
  top: 10%;
  left: 10%;
}

.city-name {
  font-size: 50px;
}

.city-condition {
  position: absolute;
  bottom: 10%;
  right: 45%;
  text-align: center;
}

.city-temp {
  position: absolute;
  top: 10%;
  right: 10%;
}

.city-status {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background-size: cover;
}

.prompt {
  align-self: center;
  justify-self: center;
}

.hidden {
  display: none;
}

@media (max-width: 1474px) {
  .city-weather-container {
    margin-right: 0;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
  }

  .title {
    margin-left: 0;
  }

  .search {
    margin-right: 0;
    border-radius: 10px;
    height: 2vh;
    width: 10rem;
  }

  main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 80vh;
  }

  .kuya-kim {
    margin-right: 0;
  }

  .kuya-kim img {
    min-width: 10rem;
    min-height: 10rem;
  }

  .city-name {
    font-size: 25px;
  }

  .city-temp {
    font-size: 20px;
  }

  .city-status {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-size: cover;
  }

  .prompt {
    font-size: 25px;
  }
}

@media (max-width: 740px) {
  .kuya-kim img {
    height: auto;
    width: 498px;
  }
  .prompt {
    font-size: 15px;
    align-self: self-start;
  }
}

@media (max-width: 498px) {
  .kuya-kim img {
    width: 398px;
  }
}

@media (max-width: 398px) {
  .kuya-kim img {
    width: 298px;
  }
}
